/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-align {
  display: flex;
  align-items: center;
}
